obj/
*.o
v4l2_test
v4l2_test_arm
v4l2_camera
*.out
*.elf
*.bin
*.exe
.vscode/
*.code-workspace
photo/*.bmp
photo/*.jpg
photo/*.jpeg
photo/*.png
video/*.r565
video/*.avi
qt_camera/Makefile
qt_camera/.qmake.stash
qt_camera/moc_*.cpp
qt_camera/qrc_*.cpp
qt_camera/ui_*.h
qt_camera/*.o
qt_camera/gdut_qt_camera
qt_camera/gdut_qt_camera.exe
qt_camera/imx6ull_qt_camera
qt_camera/imx6ull_qt_camera.exe
resume_work/
resume_fill_work/
